*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-size: 65.5%;
}


body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #36844D;
}

.container{
    
    height: 46rem;
    width: 46rem;
    background-color: #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding-top: 3rem;
}

h2{
    font-size: 2.4rem;
    color: #36844D;
}


.texts h3{
    color: #EC0300;
    font-size: 2.5rem;
    font-weight: 700;
    justify-content: space-between;
}

.texts span{
    color: #F9FF01;
}

.texts p{
    font-size: 1.3rem;
    color: #36844D;
 
}

.texts h3, p{
    line-height: 1;
}


.btns{
    width: 100%;
   
}

button{
    background-color: #36844D;
    width: 25rem;
    height: 5rem;
    padding: 0.9rem 0;
    cursor: pointer;

    border: none;
    outline: none;
    border-radius: 0.7rem;

    color: #fff;
    font-size: 1.8rem;
    font-weight: 600;

    margin-bottom: 1rem;
   

}
button:hover{
    opacity: 0.9;
}

.opcadm{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 75%;
   
}

.textos{
    margin-bottom: 2rem;
}

.textos p{
    color: #36844D;
    font-size: 1.6rem;
}