*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html{
    font-size: 65.5%;
}


body{
    font-family: 'Poppins', sans-serif;
    background-color: #36844D;
}

.container{
    height:55rem;
    width: 50rem;
    background-color: #fff;
}

h2{
    font-size: 3rem;
    color: #36844D;
}

.btns{
    height: 100%;
    
}


button{
    background-color: #36844D;
    width: 25rem;
    height: 5rem;
    padding: 0.9rem 0;
    cursor: pointer;

    border: none;
    outline: none;
    border-radius: 0.7rem;

    color: #fff;
    font-size: 1.7rem;
    font-weight: 600;
   

}
button:hover{
    opacity: 0.9;
}

header{
    background-color: #36844D;
    width: 100%;
    height: 10%;
    padding: 3rem 8rem 3rem 8rem;

    display: flex;
    align-items: center;
    justify-content: space-between;
    position:fixed;
    z-index: 2;

    box-shadow: 11px 23px 190px 0px rgba(0,0,0,0.11);
    -webkit-box-shadow: 11px 23px 190px 0px rgba(0,0,0,0.11);
    -moz-box-shadow: 11px 23px 190px 0px rgba(0,0,0,0.11);  
    
    
}


header .text{
    text-align: center;
    
    
    
    
   
}

header .text h3{
    color: #EC0300;
    font-size: 2.5rem;
    font-weight: 700;
    justify-content: space-between;
}

header .text span{
    color: #F9FF01;
}

header .text p{
    font-size: 1.3rem;
    color: #fff;
 
}

header .text h3, p{
    line-height: 1;
}

header nav ul{
    list-style: none;
    display: flex;
    font-size: 1.8rem;
    
}


header li a{
    text-decoration: none;
    color: #fff;
    padding: 1rem;
    
}

li a:hover{
    
    border-bottom: 4px solid #F9FF01;
    
}

.btns{

    background: #EC0300;
    width: 300px;
}


.container{

    width: 100vh;
    height: 100vh;
   

}

.div-tabela{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:90% ;
}

.dados-alunos:nth-child(even) {
    background-color: #f2f2f2;

}

.table-hover tbody tr:hover {
    background-color: #ddd;
}


.table{

    align-items: flex-start;
}