@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,500;0,600;0,700;1,300;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins' ;
}

html{
    font-size: 62.5%;
}


body{
    background-color: #36844D;
    height: 100vh;
}

.container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    width: 50rem;
    height: 55rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    border-radius: 2rem;
    position: relative;

    background-color: #f7f7f7;

    gap: 2rem;
}



form .titulo h2{
    color: #36844D;
    font-weight: 600;
    font-size: 3.5rem;
    text-transform: uppercase;
    

}

.imagem1{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.back a{
    font-size: 3rem;
    text-decoration: none;
    color: #36844D;
    position: absolute;
    bottom: 89%;
    right: 90%;
}





button{
    background-color: #36844D;
    width: 25rem;
    padding: 0.9rem 0;
    cursor: pointer;

    border: none;
    outline: none;
    border-radius: 0.7rem;

    color: #fff;
    font-size: 1.7rem;
    font-weight: 600;

}

button:hover{
    opacity: 0.9;
}
