<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'admin.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"> 
    <title>Admininstrador</title>
</head>
<body>
    <header>
        <div class="text">
            <h3>AS<span>DA</span>VI</h3>
            <p>Associação Dançar à Vida</p>
        </div>
    
        <nav>
            <ul>
                <li><a href="{% url 'alunos' %}">Listar Alunos</a></li>
                <li><a href="{% url 'cadastro' %}">Cadastrar Aluno</a></li>
            </ul>
        </nav>

        </header>
    <div class="container">
        
            <div class="div-tabela">
                <h2 class="mb-5">SEJA BEM VINDO(A), ADMINISTRADOR!
                    SELECIONE QUAL OPÇÃO VOCÊ IRÁ UTILIZAR
                </h2>
            </div>

    </div>
</body>
    <script src="	https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</html>