<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'login.css' %}" />
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <title>Login</title>
</head>
<body>
    <div class="container">
        
        <form action="{% url 'login' %}" method="POST">
          {% csrf_token %}
            <div class="back">
                <a href"{% url 'index' %}"></a>
            </div>
            <h2>Login do Adminstrador</h2>
            <div class="inputs">
                <div class="input">
                  <label for="username">Email de Usuário</label>
                  <input type="text" id="username" name="username" placeholder="Digite o seu usuário" required>
                </div>
                <div class="input">
                  <label for="senha">Senha </label>
                  <input type="password" id="password" name="senha" placeholder="Digite sua senha" required>
                </div>
              
          </div>
          <button type="submit">ENTRAR</button>
        </form>

    </div>
</body>
</html>