<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'pagamento.css' %}" />
    
    <script src="https://unpkg.com/@phosphor-icons/web"></script>
    <title>Tela de pagamento</title>
</head>
<body>
    <div class="container">
        <img src="{% static "img/logo.png" %}" alt="Logo" class="logo">
        <form action="#">
            <div class="back">
                <a href="./doacao.html"><i class="ph ph-arrow-fat-left"></i></a>
            </div>
            <div class="titulo">
                <h2>Pagamento</h2>
        
                <div class="imagem1 ">
                    <img src="{%static "img/images.png" %}" alt="" />
                    <h3>Chave Pix: 7124821574</h3>
                </div>
            </div>
          
            <button onclick="Finalizar()">Finalizar</button>

            <script>
                function Finalizar() {
                    alert("Agradecemos sua Doação!");
                }
            </script>


           
        </form>
    </div>
</body>
</html>